.home__container {
  display: flex;
  position: relative;
  background-color: antiquewhite;
}

.router__container {
  width: 100%;
  padding-top: 50px;
}

@media screen and (max-width: 960px) {
  .router__container {
    width: 100%;
    padding-right: 40px;
  }
}
