.text-white {
  position: relative;
  color: #ffffff;
  text-align: center;
}

.logo-container {
  width: 65px !important;
  margin: 0 auto;
  margin-bottom: 55px;

  img {
    width: 120%;
  }
}

.login {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/images/bg-login.jpg");
  background-size: cover;
}

.login::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(0 0 0 / 60%);
}
